body{
    text-align: center;
    background-image: url('download.jpg');
}
.form{
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 200px;
    padding:50px 50px 50px 50px;
    background-color:papayawhip ;
}
